.container {  display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "order name"
      "order artistTime";
  }
  
  .order { grid-area: order; }
  
  .name { grid-area: name; }
  
  .artistTime { grid-area: artistTime; }
  