/* Grid layout */
.container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr 1fr;
  grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 1.8fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tempo tempo playlist"
    "energy mode playlist"
    "speech . playlist"
    "valence . playlist"
    "howToUse push playlist";

  margin: 0;
  padding: 40px;
}

.tempo {
  grid-area: tempo;
}

.energy {
  grid-area: energy;
}

.mode {
  grid-area: mode;
}

.speech {
  grid-area: speech;
}

.valence {
  grid-area: valence;
}

.howToUse {
  grid-area: howToUse;
  border: 1px solid #e53a40;
  color: #e53a40;
  text-align: center;
  padding: 30px;
  max-width: 396px;
}

.push {
  grid-area: push;
}

.playlist {
  grid-area: playlist;
}

h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 64px;
}

h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
}

p {
  font-size: 13px;
}
