/* Grid layout */
.container {
  display: grid;
  grid-template-columns: 1.1fr 1fr 0.9fr;
  grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 1.8fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tempo tempo playlist"
    "energy mode playlist"
    "speech mode playlist"
    "valence . playlist"
    "howToUse push openSpotify";

  margin: 0;
  padding: 15px 40px;
}

.tempo {
  grid-area: tempo;
}

.energy {
  grid-area: energy;
}

.mode {
  grid-area: mode;
}

.speech {
  grid-area: speech;
}

.valence {
  grid-area: valence;
}

.howToUse {
  grid-area: howToUse;
  border: 1px solid #e53a40;
  color: #e53a40;
  text-align: center;
  padding: 30px;
  max-width: 396px;
}

.push {
  grid-area: push;
}

.playlist {
  grid-area: playlist;
}

.openSpotify {
  grid-area: openSpotify;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 800;
  font-style: italic;
  font-size: 64px;
  border-bottom: solid 2px var(--Blue);
}

h3 {
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
}

p {
  margin: 0;
  font-size: 13px;
  line-height: 2; /* 行間 */
  text-align: justify; /* 両端揃え */
}

.buttonContainer {
  display: grid;
  grid-template-columns : 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "major minor"
    "whichever whichever";
  width: 80%;
  margin: 0 10px;
}

.major {
  grid-area: major;
}

.minor {
  grid-area: minor;
}

.whichever {
  grid-area: whichever;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  margin: 0 auto;
  border: 2px solid #30a9de;
  background-color: #fff;
  color: #30a9de;
  font-size: 1em;
  font-weight: bold;
  font-size: 20px;
}

.radio:has(input[type="radio"]:checked) {
  background-color: #30a9de;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.radio input[type="radio"] {
  display: none;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
